body {
    color: white;
    background-image: url("../images/pencil-ruler.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.flexItem {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
	overflow: hidden;
}

#divCalculation, #divInputs {
    font-size: 20px;
    text-align: center;
}

#calcInput {
    font-size: 30px;
    width: 240px;
    height: 35px;
    margin-bottom: 20px;
}

.grid-container {
    font-size: 30px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

#calcLog {
    font-size: 20px;
    text-decoration: underline;
}

ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.grid-item {
    font-size: 30px;
}

.listEquationsButton {
    color: white;
}

#clearButton {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 3;
}

#deleteSpaceButton {
    background-color: lightblue;
    grid-column-start: 3;
    grid-column-end: 5;
}

#clearLogButton {
    background-color: lightgreen;
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 5;
}

.listEquationsButton {
    font-size: 25px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}