body {
    background-color: lightsteelblue;
}

.listEquationsButton {
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}